root = true

[*]
indent_style = space
indent_size = 2
charset = utf-8
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true

[.{fish,sxhkd,bspwm}rc]
language = fish

[.bspwm.*]
language = fish

[.tmuxrc]
language = tmux

[.alacritty*]
language = toml

[.{polybar,dunst}rc]
language = dosini
